/* Start Default Styles */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  font-family: var(--primary-font);
}

*,
*::after,
*::before {
  outline: none;
  box-sizing: inherit;
}

a,
li {
  text-decoration: none;
  color: var(--dark-color);
  transition: all 400ms ease;
}

li:hover,
a:hover {
  color: grey;
}

i {
  user-select: none;
}

/* Finish Default Styles */
